body {
  background-color: #ebf1de;
}


.App{
  margin-top: 20%;
  margin-bottom: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* arrange the elements vertically */
  font-size: 24px;
  height: 10%;
}

.App label,
.App input,
.App button {
  margin-bottom: 10px;
}

button {
  font-size: 24px; /* set the font size of the button text to 1.2 times the default size */
}